<div class="container">
  <h4 class="p-2">My Skills</h4>
  <div class="skills">
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/angular.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Angular</h5>
            <p><ngb-progressbar type="info" [value]="70" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/node.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Node.js</h5>
            <p><ngb-progressbar type="info" [value]="80" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/mongo.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">MongoDB</h5>
            <p><ngb-progressbar type="info" [value]="40" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/eth1.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Ethereum Smart Contract Development</h5>
            <p><ngb-progressbar type="info" [value]="60" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/hyperledger.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Hyperledger Fabric Smart Contract Development</h5>
            <p><ngb-progressbar type="info" [value]="50" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/react.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">React</h5>
            <p><ngb-progressbar type="info" [value]="60" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/es6.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">EcmaScript6</h5>
            <p><ngb-progressbar type="info" [value]="70" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/go.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Golang</h5>
            <p><ngb-progressbar type="info" [value]="80" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/python.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Python</h5>
            <p><ngb-progressbar type="info" [value]="50" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/docker.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Docker</h5>
            <p><ngb-progressbar type="info" [value]="50" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
  </div>
</div>
