<div class="top">
  <!-- <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"> -->
  <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
  class="rounded-circle img-responsive z-depth-2"> -->
  <img src="../../assets/images/saif.jpg" class="rounded-circle img-responsive z-depth-2">
</div>
  <div class="container">
    <div class="p-4 centerText font400">
      Hi There! I am Saif. Currently I work as an Engineer at IBM India. I am a keen learner.
      I have a passion for learning new technologies and developing something out of it!
      I have a good experience in full stack devleopment and also smart contract development using Ethereum
      and Hyperledger Fabric. I have a sound knowledge about Encryption Algorithms.
      You can find more about myself by exploring this portfolio and please do provide your valuable feedback in the
      contact section. Have a great time!

    </div>
    <app-skills></app-skills>
  </div>
