<div class="top">
  <!-- <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"> -->
  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
  class="rounded-circle img-responsive z-depth-2">
</div>
<div class="container">
  <h3>My Skills</h3>
  <div class="skills">
    <mat-card>
        <div class="logo">
            <img src="../../assets/images/angular.png" class="img-responsive">
        </div>
        <div class="contents">
            <h5 class="font14">Angular</h5>
            <p><ngb-progressbar type="info" [value]="75" [striped]="false" [animated]="false"></ngb-progressbar></p>
        </div>
    </mat-card>
    <mat-card>

    </mat-card>
    <mat-card>
      Simple card
    </mat-card>
    <mat-card>
        Simple card
    </mat-card>
  </div>
</div>
