<div class="top">

<div class="contact-form">
    <mat-card class="contact-card mat-elevation-z4">
      <h5 class="centerText p-4 bold">It's always great to hear from you!</h5>
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Your Name" [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Your Email" [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Subject" [(value)]="subject">
            <mat-option value="query">Query</mat-option>
            <mat-option value="feedback">Feedback</mat-option>
            <mat-option value="bugReport">Report a bug</mat-option>
            <mat-option value="noSubject">Don't have a subject!</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Message"  [(ngModel)]="message" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
      <div class="social-card centerText pt-4">
          <div>
            <button mat-fab class="linkedin_btn" (click)="openSocial('linkedin')">
                <i class="fab fa-linkedin fa-2x"></i>
            </button>
          </div>
          <div>
            <button mat-fab class="twitter_btn" (click)="openSocial('twitter')">
                <i class="fab fa-twitter fa-2x"></i>
            </button>
          </div>
          <div>
            <button mat-fab class="facebook_btn" (click)="openSocial('facebook')">
                <i class="fab fa-facebook-f fa-2x"></i>
            </button>
          </div>
      </div>
    </mat-card>
</div>

</div>
