.top{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5%
}
.contact-form{
  text-align: center;
  margin-top: 2%;
}
.contact-card{
  display: inline-block;
}
@media(min-width:800px){

  .contact-card{
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media(max-width:800px){
  .contact-card{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }
}
.header{
  background-color: #3752B3;
  color: #ffffff;
}
form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

button{
  background-color: #3752B3;
}
.social-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  /* display: inline-block; */
}
:host /deep/ .social-card .mat-button-wrapper{
  padding:0 !important;
}
