<div class="top">
<div class="contact-form">
    <mat-card class="contact-card mat-elevation-z4">
      <h5 class="centerText p-4 bold">It's always great to hear from you!</h5>
      <!-- <mat-toolbar class="header">
        <span>Message/Feedback</span>
      </mat-toolbar> -->
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Your Name" [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Your Email" [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Subject" [(value)]="subject">
            <mat-option value="query">Query</mat-option>
            <mat-option value="feedback">Feedback</mat-option>
            <mat-option value="bugReport">Report a bug</mat-option>
            <mat-option value="noSubject">Don't have a subject!</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Message"  [(ngModel)]="message" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
    </mat-card>
</div>
</div>
