<div class="container">
  <h4 class="p-2 centerText bold">My Certifications</h4>
  <div class="certifications">
      <mat-card>
          <div class="certificate-wrapper">
            <div class="certificate-image">
              <!-- height=300px;width=400px -->
              <img src="../../assets/images/certificates/angular-routing.png" class="img-responsive">
            </div>
            <div class="certificate-details">
              <hr>
              <button mat-raised-button (click)="verify('angular-routing')">Verify</button>
            </div>
          </div>
        </mat-card>
        <mat-card>
            <div class="certificate-wrapper">
              <div class="certificate-image">
                <!-- height=300px;width=400px -->
                <img src="../../assets/images/certificates/ES6.png" class="img-responsive">
              </div>
              <div class="certificate-details">
                <hr>
                <button mat-raised-button (click)="verify('es6')">Verify</button>
              </div>
            </div>
          </mat-card>
    <mat-card>
      <div class="certificate-wrapper">
        <div class="certificate-image">
          <!-- height=300px;width=400px -->
          <img src="../../assets/images/certificates/Udemy_buildDapps.png" class="img-responsive">
        </div>
        <div class="certificate-details">
          <hr>
          <button mat-raised-button (click)="verify('buildDapps')">Verify</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="certificate-wrapper">
        <div class="certificate-image">
          <!-- height=300px;width=400px -->
          <img src="../../assets/images/certificates/Udemy_sg_Eth.png" class="img-responsive">
        </div>
        <div class="certificate-details">
          <hr>
          <button mat-raised-button (click)="verify('Udemy_sg_Eth')">Verify</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="certificate-wrapper">
        <div class="certificate-image">
          <!-- height=300px;width=400px -->
          <img src="../../assets/images/certificates/Udemy_sg_GO.png" class="img-responsive">
        </div>
        <div class="certificate-details">
          <hr>
          <button mat-raised-button (click)="verify('Udemy_sg_GO')">Verify</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="certificate-wrapper">
        <div class="certificate-image">
          <!-- height=300px;width=400px -->
          <img src="../../assets/images/certificates/coursera_ibm_iot.png" class="img-responsive">
        </div>
        <div class="certificate-details">
          <hr>
          <button mat-raised-button (click)="verify('coursera_ibm_iot')">Verify</button>
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="certificate-wrapper">
        <div class="certificate-image">
          <!-- height=300px;width=400px -->
          <img src="../../assets/images/certificates/py_coursera.png" class="img-responsive">
        </div>
        <div class="certificate-details no-display">
          <hr>
          <button mat-raised-button  (click)="verify('py_coursera')" disabled>Verify</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<!-- Stephen Grider Ethereum and Solidity: The Complete Developer's Guide
  https://www.udemy.com/certificate/UC-2W6TP01I/ -->

  <!--golang https://www.udemy.com/certificate/UC-ABAVBWFX/ -->

  <!-- https://www.udemy.com/certificate/UC-B2Z3I1OJ/ -->

  <!-- iot https://www.coursera.org/account/accomplishments/verify/NZ4W9D6RUPEQ -->

