<div class="container">
  <!-- Add the timeline -->
  <vertical-timeline>

    <!-- Add some cards to the timeline. It works with *ngFor too -->

    <!-- If no value is passed for the date, the current time is used. -->
    <vertical-timeline-card [dateValue]="graduated">
      <br>
    <h5>Graduated!</h5>
    </vertical-timeline-card>

    <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
    <vertical-timeline-card [dateValue]="joined_ibm">
      <h5>Joined IBM</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="outotec_ac">
        <br>
        <h5>Outotec Account</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="blockchain_garage">
        <h5>Blockchain Garage</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="trade_finance">
        <br>
        <h5>POC on Trade Finance</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="pg_GOAT">
        <h5>POC for a leading Consumer Goods company</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="telstra">
        <br>
        <h5>POC for an Australian Telecom Giant</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="pg_TIP">
      <h5>Pilot for a leading Consumer Goods company</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="trade_finance">
      <br>
      <h5>POC for an European Telecom Leader</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="yosemite">
        <h5>POC for US Goverment</h5>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="trai">
      <br>
      <h5>Telecom Regulatory Authority of India</h5>
  </vertical-timeline-card>

  </vertical-timeline>
</div>
