<div class="container">
  <!-- Add the timeline -->
  <vertical-timeline>

    <!-- Add some cards to the timeline. It works with *ngFor too -->

    <!-- If no value is passed for the date, the current time is used. -->
    <vertical-timeline-card [dateValue]="graduated">
    <h3>Graduated!</h3>
    </vertical-timeline-card>

    <!-- tomorrow = new Date(2017, 9, 20, 14,34); -->
    <vertical-timeline-card [dateValue]="joined_ibm">
      <h3>Joined IBM</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="outotec_ac">
        <h3>Outotec Account</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="blockchain_garage">
        <h3>Blockchain Garage</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="trade_finance">
        <h3>Trade Finance</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="pg_GOAT">
        <h3>P&G GOAT</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="telstra">
        <h3>Telstra</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="pg_TIP">
        <h3>P&G TIP</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="trade_finance">
        <h3>Telefonica</h3>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="yosemite">
        <h3>US Endowment</h3>
    </vertical-timeline-card>

  </vertical-timeline>
</div>
