/* mdb-navbar-brand a{
  font-family: 'Charm', cursive;
} */

.navbar-nav a{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}
mdb-navbar-brand{
  font-family: Roboto,"Helvetica Neue",serif;
  font-size: 16px;
  /* font-weight: 500; */
}
