<div class="container">
  <h4 class="p-2 centerText bold">My Personal Projects</h4>
  <div class="perosnal-projects">
    <mat-card>
      <mat-toolbar color="primary">
        <span>The Fund Raiser App</span>
      </mat-toolbar>
      <div class="p-3">
        <!-- <div class="centerText">
            <img src="../../assets/images/certificates/coursera_ibm_iot.png"
            alt="Unable to load image" class="project-image">
        </div> -->
        <div class="description pl-4 pr-4 pt-2 pb-2">
          <div class="bold pb-2">Description:</div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nostrum voluptatibus ratione quis delectus tenetur nulla, consectetur illo minus laboriosam corporis error voluptates harum quia accusantium cumque fuga unde iusto libero eaque nam quasi alias. Tempore, temporibus quibusdam. Officiis sapiente veniam iure ad sunt obcaecati dolore voluptatibus eius optio facere?</div>
          <div class="bold pt-2 pb-2">Technologies used:</div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magnam odio provident, eligendi neque exercitationem.</div>
          <div class="buttons rightText p-4">
              <button mat-raised-button class="gitbtn">
                  <i class="fas fa-external-link-alt pr-2"></i> VIEW
              </button>
              <button mat-raised-button class="gitbtn">
                  <i class="fab fa-github pr-2"></i> GITHUB
              </button>

          </div>
        </div>
      </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span>The Fund Raiser App</span>
        </mat-toolbar>
        <div class="p-3">
          <!-- <div class="centerText">
              <img src="../../assets/images/certificates/coursera_ibm_iot.png"
              alt="Unable to load image" class="project-image">
          </div> -->
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nostrum voluptatibus ratione quis delectus tenetur nulla, consectetur illo minus laboriosam corporis error voluptates harum quia accusantium cumque fuga unde iusto libero eaque nam quasi alias. Tempore, temporibus quibusdam. Officiis sapiente veniam iure ad sunt obcaecati dolore voluptatibus eius optio facere?</div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magnam odio provident, eligendi neque exercitationem.</div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="gitbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span>The Fund Raiser App</span>
        </mat-toolbar>
        <div class="p-3">
          <!-- <div class="centerText">
              <img src="../../assets/images/certificates/coursera_ibm_iot.png"
              alt="Unable to load image" class="project-image">
          </div> -->
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nostrum voluptatibus ratione quis delectus tenetur nulla, consectetur illo minus laboriosam corporis error voluptates harum quia accusantium cumque fuga unde iusto libero eaque nam quasi alias. Tempore, temporibus quibusdam. Officiis sapiente veniam iure ad sunt obcaecati dolore voluptatibus eius optio facere?</div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magnam odio provident, eligendi neque exercitationem.</div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="gitbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span>The Fund Raiser App</span>
        </mat-toolbar>
        <div class="p-3">
          <!-- <div class="centerText">
              <img src="../../assets/images/certificates/coursera_ibm_iot.png"
              alt="Unable to load image" class="project-image">
          </div> -->
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque nostrum voluptatibus ratione quis delectus tenetur nulla, consectetur illo minus laboriosam corporis error voluptates harum quia accusantium cumque fuga unde iusto libero eaque nam quasi alias. Tempore, temporibus quibusdam. Officiis sapiente veniam iure ad sunt obcaecati dolore voluptatibus eius optio facere?</div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus magnam odio provident, eligendi neque exercitationem.</div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="gitbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
  </div>
</div>
