<div class="container">
  <h4 class="p-2 centerText bold">My Personal Projects</h4>
  <div class="perosnal-projects">
    <mat-card>
      <mat-toolbar color="primary">
        <span class="app-title">The Fund Raiser Dapp</span>
        <span class="rightText pl-4"><i class="fas fa-cubes"></i></span>
      </mat-toolbar>
      <div class="p-3">
        <div class="description pl-4 pr-4 pt-2 pb-2">
          <div class="bold pb-2">Description:</div>
          <div>
            It is a didtributed application based on the Ethereum Blockchain Network.
            It offers a solution to prevent the scams and frauds that happen in fund raising/ crowd funding like the kickstarter.
            The application was deployed to rinkeby test network. An Interactive front end was also developed to interact with the blockchain.

          </div>
          <div class="bold pt-2 pb-2">Technologies used:</div>
          <div>
            <ul>
              <li>Solidity</li>
              <li>Web3.js</li>
              <li>Mocha</li>
              <li>Ganache</li>
              <li>React(Next)</li>
            </ul>
          </div>
          <div class="buttons rightText p-4">
              <button mat-raised-button class="viewbtn">
                  <i class="fas fa-external-link-alt pr-2"></i> VIEW
              </button>
              <button mat-raised-button class="gitbtn">
                  <i class="fab fa-github pr-2"></i> GITHUB
              </button>

          </div>
        </div>
      </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">Petshop Dapp</span>
          <span class="rightText pl-4"><i class="fas fa-cubes"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              Its a distributed application made with the Truffle framework.
               People can view the pets and can own them by spending ethers.
               It was deployed to the rinkeby test network.
               Front end was made using vanilla HTML,CSS,Javascript.
            </div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <ul>
              <li>Truffle</li>
              <li>Solidity</li>
              <li>Web3.js</li>
              <li>Chai/Mocha</li>
              <li>HTML,CSS,Javascript</li>
            </ul>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">Lottery Dapp</span>
          <span class="rightText pl-4"><i class="fas fa-cubes"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              It is a distributed lottery application. People can enter the lottery by contributing some minimum ether
              to the prize pool. The lottery manager can fire the random selector, which will choose a winer and the
              entire prize pool will be transferred to the winner.
            </div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>
              <ul>
                  <li>Solidity</li>
                  <li>Web3.js</li>
                  <li>Mocha</li>
                  <li>Ganache</li>
              </ul>
            </div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">Video Player Web App</span>
          <span class="rightText pl-4"><i class="fab fa-react"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              A youtube like video player. The videos pops up as the user types in the search bar.
              Made with the youtube API, it can search for any video and play it just like youtube.
              It was made with React on the front end.
            </div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <ul>
              <li>React</li>
              <li>Youtube API</li>
              <li>Bootstrap</li>
            </ul>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">E-Commerce Web App</span>
          <span class="rightText pl-4"><i class="fas fa-shopping-cart"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              This is an E-Commerce application, with all the features which a mordern e-commerce site has.
              The user can register, login, add and remove products to the shopping kart and make payment.
              This  is a complete Node.js application, with the views made with the rendering engine(Handlebars).
              Some dummy video games were posted for sale.
            </div>

            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>
              <ul>
                <li>Node.js</li>
                <li>Handlebars</li>
                <li>Stripe Payment API</li>
                <li>Bootstrap</li>
              </ul>
            </div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">End to End Automation</span>
          <span class="rightText pl-4"><i class="fab fa-docker"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              A simple todo app made with React, running inside a docker container.
              When the user pushes the code in git and commits to the Master branch,
              The test cases execute automatically. The container will be created and the application
              will be pushed to the AWS cloud.
            </div>

            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>
              <ul>
                <li>React</li>
                <li>Docker</li>
                <li>Mocha</li>
                <li>AWS</li>
              </ul>
            </div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">Quantum Computer proof encryption</span>
          <span class="rightText pl-4"><i class="fas fa-shield-alt"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              This is an efficient file encryption system, which is Quantum computer proof built using the
              powerful RING-LWE encryption algorithm.This was developed as a part of my major project, under the
              mentorship of Prof. Bharti Mishra (IIIT Bhubaneswar). The dropbox integration was enabled so the user
              can store encrypted files in it. The supported file formats were txt,png,jpeg,mp3.
            </div>
            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>
              <ul>
                <li>Ring-LWE encryption</li>
                <li>Java</li>
                <li>DropBox API</li>
                <li>Bootstrap</li>
              </ul>
            </div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn hide">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card>
    <!-- <mat-card>
        <mat-toolbar color="primary">
          <span class="app-title">Password Management System</span>
          <span class="rightText pl-4"><i class="fas fa-key"></i></span>
        </mat-toolbar>
        <div class="p-3">
          <div class="description pl-4 pr-4 pt-2 pb-2">
            <div class="bold pb-2">Description:</div>
            <div>
              A web based password management system was developed , under the mentorship of Prof. Bharti Mishra (IIIT Bhubaneswar).
              The encryption was done using the triple DES Algorithm.
            </div>

            <div class="bold pt-2 pb-2">Technologies used:</div>
            <div>
              <ul>
                <li>Triple DES Algorithm</li>
                <li>Java</li>
                <li>MysQL</li>
              </ul>
            </div>
            <div class="buttons rightText p-4">
                <button mat-raised-button class="viewbtn">
                    <i class="fas fa-external-link-alt pr-2"></i> VIEW
                </button>
                <button mat-raised-button class="gitbtn">
                    <i class="fab fa-github pr-2"></i> GITHUB
                </button>

            </div>
          </div>
        </div>
    </mat-card> -->


  </div>
</div>
