.perosnal-projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
}
mat-card{
  padding: 0;
}
:host /deep/ .mat-toolbar-single-row{
  height: 45px;
}
.project-image{
  width: 350px;
  height: 200px;
}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}
.app-title{
  font-size: 14px;
}
.gitbtn{
  background-color: #282E32;
  color: #ffffff;
}
.viewbtn{
  display: none;
}
.hide{
  display: none;
}
@media only screen and (max-width: 760px) {
  .perosnal-projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
    grid-row-gap: 10px;
  }
}
