/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Charm');

/* Vertical Timeline */
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}

.font8{
	font-size:8px !important;
}

.font9{
	font-size:9px !important;
}

.font10{
	font-size:10px !important;
}

.font12{
	font-size:12px !important;
}

.font13{
	font-size:13px !important;
}

.font15{
	font-size:15px !important;
}


.font14{
	font-size:14px !important;
}

.font16{
	font-size:16px !important;
}
.font18{
	font-size:18px !important;
}

.font24{
	font-size:24px !important;
}

.centerText{
  text-align: center;
}

.rightText{
  text-align: right;
}

.bold{
  font-weight: bold;
}
.font14{
  font-size: 14px;
}

.font400{
  font-weight: 400;
}
.no-display{
  display: none;
}
